  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    
    background-image: url(./img/fondoformulario.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

.form-register {
    width: 330px;
    background: rgb(107, 107, 107, 1);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    position: relative;

  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: rgb(51, 51, 51);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }